  
  .content {
    width: 1000px;
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    flex: 1;
    padding: 20px;
    margin: 5px;
    align-items: center;
  }
  .welcome{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    flex: 1;
    font-size: 25px;
  }
  .content-liner{
    display: flex;
    align-items: center;
  }
  .location{
    display: flex;
    align-items: flex-start;
  }
  .location-info{
    display: flex;
    flex-direction: column;
  }
  .locname{
    margin: 0;
    font-size: 15px;
  }
  .time{
    margin-top: 2px;
    font-size: 11px;
  }
  .oneliner{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    flex: 1;
    font-size: 11px;
  }
.material-symbols-outlined {
  padding: 5px 10px;
  border-radius: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.changes-need{
  color: grey;
  text-decoration: none;
}
.changes-need:hover{
  text-decoration: underline;
}
.plakcards{
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 30px;
}
.textincard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.circle-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #6A759B;
  border-radius: 5px;
  padding: 14px;
  width: 200px;
  margin-right: 23px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #181823;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #606470;
}

.label {
  font-size: 11px;
  padding-left: 10px;
}

.count {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
}

.graph{
  width:400px;
  height: 200px;
  padding-top: 30px;
  background-color: antiquewhite;
}
.graph_text{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.view_more{
  background-color: green;
  padding: 10px;
  margin-right: 5px;
}
