<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="content">
    <div class = "content-liner">
        <h1 class="welcome">Ashish's Dashboard</h1>
        <span class="material-symbols-outlined">
            notifications
        </span>
        <div class="location">
            <span class="material-symbols-outlined">
            globe_asia
            </span>
            <div class="location-info">
                <p class="locname">Pune,India</p>
                <p class="time">{{time}}</p>
            </div>
        </div>
        <span class="material-symbols-outlined">
            refresh
        </span>
        <span class="material-symbols-outlined">
            more_vert
        </span>
    </div>
    
    <p class="oneliner">Hii! <a class="changes-need" href="#">You have 3 new changes in your dashboard</a></p>
    
    <div class="plakcards">
        <div class="circle-icon">
            <div class="icon"><span class="material-symbols-outlined">library_books</span></div>
            <div class="textincard"> 
                <div class="label">Total Customers</div>
                <div class="count">2335</div>
            </div>
        </div>
        <div class="circle-icon">
            <div class="icon"><span class="material-symbols-outlined">library_books</span></div>
            <div class="textincard"> 
                <div class="label">Visited Customers</div>
                <div class="count">2335</div>
            </div>
        </div>
        <div class="circle-icon">
            <div class="icon"><span class="material-symbols-outlined">library_books</span></div>
            <div class="textincard"> 
                <div class="label">Enquired Customers</div>
                <div class="count">2335</div>
            </div>
        </div>
        <div class="circle-icon">
            <div class="icon"><span class="material-symbols-outlined">library_books</span></div>
            <div class="textincard"> 
                <div class="label">Monthly Customers</div>
                <div class="count">2335</div>
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="graph">
            <div class="graph_text">
                <p style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Customers Overview</p>
                <button class="view_more">View More</button>
            </div>
            <app-chart></app-chart>
        </div>
        <div class="graph">
            <div class="graph_text">
                <p style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Customers Overview</p>
                <button class="view_more">View More</button>
            </div>
            <app-chart></app-chart>
        </div>
    </div>     
    <div class="grid">
        
    </div>
    </div>

    