.comp-header{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 80px;
}

   .container {
    display: flex;
    background-color: black;
    height: 50rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sidebar {
    background: black;
    color: white;
    width: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    font-size: 10px;
  }
  
  .sidebar ul li a.active{
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
  }
.app-landing{
  display: none;
}
button{
  background-color: lightgrey;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 15px;
}