<!-- <div class ="mainframe">
    <ul class = "leftlinks">
        <li>Dashboard</li>
        <li>Billing</li>
        <li>Settings</li>
        <li>Calender</li>
    </ul>
    <div class="content-page">
        <div class="topbar">Hi Ashish ! Welcome to the Dashboard</div>
    </div>

</div> -->

  <div class="container">
    <nav class="sidebar">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Calendar</a></li>
      </ul>
    </nav>
    <app-landing></app-landing>
  </div>

